.App {
  text-align: center;
}

.game-container-one {
  max-width: 500px;
  margin: 0 auto;
}

.game-container-two {
  max-width: 900px;
  margin: 0 auto;
}

.square  {
  transition: 0.5s;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 5px;
}

.square:hover {
  box-shadow: 0 0px 10px 0 black, 0 3px 30px 1px black;
}

.game-board,
.btn-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: .4rem;
}

.btn {
  font-size: 1rem;
  font-family: "Arial Black", serif;
  color: black;
  padding: .6rem 1.2rem;
  outline: none;
  border: none;
}

.new {
  background-color: cornflowerblue;
  color: white;
}

.reset {
  background-color: firebrick;
  color: white;
}

.game-board h4 {
  font-size: 1rem;
  font-family: "Arial Black", serif;
  font-weight: normal;
}

.dropdown {
  font-size: 1rem;
  padding: 0.6rem 1.2rem;
}
